{
  "compact": false,
  "env": {
    "development": {
      "compact": false,
      "comments": true,
      "minified": false
    },
    "production": {
      "compact": true,
      "comments": false,
      "minified": true
    }
  },
  "assumptions": {
    "arrayLikeIsIterable": true,
    "constantReexports": true,
    "constantSuper": true,
    "enumerableModuleMeta": true,
    "ignoreFunctionLength": false,
    "ignoreToPrimitiveHint": true,
    "iterableIsArray": false,
    "mutableTemplateObject": false,
    "noClassCalls": true,
    "noDocumentAll": true,
    "noIncompleteNsImportDetection": true,
    "noNewArrows": true,
    "objectRestNoSymbols": true,
    "privateFieldsAsProperties": true,
    "pureGetters": true,
    "setClassMethods": true,
    "setComputedProperties": true,
    "setPublicClassFields": true,
    "setSpreadProperties": true,
    "skipForOfIteratorClosing": true,
    "superIsCallableConstructor": true
  },
  "ignore": ["./src/js/_vendor", "./src/js/jquery.dataTables.yadcf.js", "./src/js/*.map"],
  "presets": [
    "@wordpress/babel-preset-default"
  ],
  "parserOpts": {
    "allowImportExportEverywhere": true,
    "errorRecovery": true
  },
  "sourceMaps": true,
  "sourceType": "unambiguous",
  "targets": {
    "node": "current",
    "browsers": [
      "last 2 versions",
      "> 1%",
      "ios >= 9"
    ],
    "esmodules": true
  }
}
