config.yml
dev
dist
jquery.adaptive-backgrounds
node_modules
packaged
vendor
vibrant
WR
new-scss
src/css
!WR/match/mens-eagles/*
!WR/match/mens-sevens/*
!WR/match/womens-eagles/*
!WR/match/womens-sevens/*
!WR/match/wr-utilities.php
.DS_Store
*.bak
*.sublime-*
*.zip
.niu
*.coffee
*.gif
*.jpg
*.png
*.svg
