#page {
  min-height: 100vh;

  #primary {
    @include breakpoint(wordpress) {
      margin-top: $size__navbar-height--desktop;

      .tax-wpcm_team & { // stylelint-disable-line
        margin-top: 0;
        padding-top: 0;
      }
    }

    .ua-mobile &,
    .ua-tablet & {
      margin-top: $size__navbar-height;
    }
  }
}

article {
  .entry {
    &-title,
    &-content {
      margin: 0;
    }

    &-title {
      padding-left: 0.5rem;

      @include breakpoint(medium) {
        padding: {
          top: 0.5rem;
          left: 0.9375rem;
        }
      }
    }

    &-content {
      padding: 0 0.5rem;

      @include breakpoint(medium) {
        padding: 0 0.9375rem 0.9375rem;
      }

      .page-about & {
        ul {
          margin-bottom: 0;
        }
      }
    }
  }

  h3 {
    margin: 0;

    +p {
      margin-top: 0;

      &.address {
        margin-bottom: 0;
      }
    }
  }
}
