@import '../components/content/wpcm-matches-list';
@import '../components/content/datatables';

.wpcm {
    &-entry {
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            @include breakpoint(1134px) {
                flex-direction: row;
            }

            .entry-title {
                @include breakpoint(medium down) {
                    padding-top: 0.25em;
                }

                @include breakpoint(1134px) {
                    padding-top: 1rem;
                }

                .flag-icon {
                    margin: {
                        bottom: -2px;
                        right: 5px;
                    }
                }
            }

            .wpcm-column {
                @include breakpoint(medium down) {
                    flex-direction: column;
                }
            }
        }

        &-footer {
            padding: 0;
        }
    }

    &-venue {
        &-capacity {
            p {
                margin-bottom: 0;
            }
        }

        &-info,
        &-description {
            p {
                padding: 0 0.5em;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-map {
            .wpcm-column {
                flex-direction: column;

                @include breakpoint(1134px) {
                    flex-direction: row;
                }
            }
        }

        &-info {
            padding: 0 0.9375rem 0.7rem;

            h3 {
                @include text(center);
                @include breakpoint(medium) {
                    @include text(left);
                }
            }
        }

        &-image {
            img {
                @include breakpoint(1133px down) {
                    @include full-width;
                }
            }
        }

        &-description {
            h3 {
                padding: {
                    top: 0;
                    left: 0.4em;
                }
            }

            @include breakpoint(mobile down) {
                justify-content: flex-start;
            }
        }

        &-select {
            width: 300px;

            @include breakpoint(1133px down) {
                margin-bottom: 1rem;
            }

            @include breakpoint(1134px) {
                margin-right: 1rem;
            }

            #venue {
                @include full-width;
            }
        }
    }

    &-matches-list-info {
        @include text(center);
    }
}
