@import '../abstracts/abstracts';

$block: 120px;
$badge: 150px;
$badge-overflow-height: 13rem;
$badge-overflow-height--desktop: rem-calc(240px);
$border: 1px solid #ddd;
$border-space: 2px;
$direction: left center right;
$icons: (venue: right, referee: left);
$padding: 0.5em;
$position: (home: before, away: after);
$offset: (before: -8.5rem, after: 0.5rem );
$offset--small: (before: -2.5rem, after: 1.5rem);
$offset--medium: (before: -4.5rem, after: 1.5rem);
$offset--large: (before: -3.5rem, after: 1.5rem);

.wpcm {
    &-match {
        &-away,
        &-home {
            &-club {
                margin: rem-calc(-57px) auto 0;
                padding: 0;
                width: $block;
                line-height: 1;
                font: {
                    size: 1em;
                    weight: 500;
                }
                color: $color__blue;
                text-shadow: 0 1px 0 $color__text-inset;
            }
        }

        &-venue,
        &-attendance,
        &-referee,
        &-team {
            text-align: inherit;
        }

        &-club-badge {
            display: none;
            align-self: center;
            position: relative;
            width: rem-calc($badge);
            height: rem-calc($badge);
            background: {
                size: contain;
                repeat: no-repeat;
            }
            z-index: 1;

            &.home-logo {
                left: 0;
                transform: translateX(20%);

                &[data-interchange*='black-ferns'] {
                    width: $badge-overflow-height;
                }
            }

            &.away-logo {
                right: 0;
                transform: translateX(-20%);

                &[data-interchange*='black-ferns'] {
                    width: $badge-overflow-height;
                }
            }

            @include breakpoint(wordpress) {
                display: block;
            }
        }

        &-comp {
            padding-top: $padding;

            @include breakpoint(medium) {
                padding-top: 0;
            }

            div:last-child {
                padding-top: $padding;
            }
        }

        &-date {
            text-transform: inherit;

            &-local {
                padding-left: $padding;
                white-space: nowrap;
            }

            &-website {
                padding-right: $padding;
                white-space: nowrap;
            }

            .at-symbol {
                position: relative;
                top: -2px;
                font-size: 80%;
            }
        }

        &-details {
            padding: 0;
        }

        &-fixture {
            border: {
                top: $border;
                bottom: $border;
            }
        }

        &-head-coach {
            .dashicons-before {
                padding-top: 0.4em;

                &::before {
                    margin-top: 2px;
                    margin-right: 2px;
                }
            }
        }

        &-info {
            display: flex;
            justify-content: space-between;
            padding: 0;
            height: $badge-overflow-height;
            overflow: hidden;
            position: relative;
            @include breakpoint(medium) {
                height: $badge-overflow-height--desktop;
            }

            &::before,
            &::after {
                content: ' ';
                background: {
                    size: 125%;
                    repeat: no-repeat;
                }
                position: absolute;
                @include half-width;
                height: inherit;
                opacity: 0.25;
                z-index: 0;

                @include breakpoint(medium) {
                    background-size: 120%;
                }

                @include breakpoint(large) {
                    background-size: 100%;
                }
            }

            &::before {
                left: 0;
                background-image: var(--home-badge);
            }

            &::after {
                right: 0;
                background-image: var(--away-badge);
            }

            &[data-away='asm-clermont-auvergne'] {
                &::after {
                    background-position-y: -2.7rem;
                }
            }

            &[data-home='france-xv'] {
                &::before {
                    background-position-y: 8%;
                }
            }

            @each $side, $pos in $position {
                &[data-#{$side}*='argentina'] {
                    &::#{$pos} {
                        background-position-y: 22%;
                    }
                }

                &[data-#{$side}*='fiji'] {
                    &::#{$pos} {
                        background-position: 0 -10rem;
                    }
                }

                &[data-#{$side}*='scotland'] {
                    &::#{$pos} {
                        background-position-y: 27%;
                    }
                }

                &[data-#{$side}*='wales'] {
                    &::#{$pos} {
                        background-position-y: 15%;
                    }
                }

                &[data-#{$side}*='new-zealand'] {
                    &::#{$pos} {
                        background-size: 137%;
                        @if ($pos == after) {
                            background-position: 12% 17%;
                        } @else if ($pos == before) {
                            background-position: -7rem -2rem;

                            @include breakpoint(wordpress) {
                                background: {
                                    size: 120%;
                                    position: -7rem -5rem;
                                }
                            }
                        }
                    }
                }

                &[data-#{$side}*='canada'],
                &[data-#{$side}='united-states'] {
                    &::#{$pos} {
                        background-position: map-get($offset--small, $pos);
                    }
                }

                &[data-#{$side}*='canada'] {
                    @include breakpoint(medium) {
                        &::#{$pos} {
                            background-position: map-get($offset--medium, $pos);
                        }
                    }

                    @include breakpoint(large) {
                        &::#{$pos} {
                            background-position: map-get($offset--large, $pos);
                        }
                    }
                }

                &[data-#{$side}='united-states'] {
                    @include breakpoint(large) {
                        &::#{$pos} {
                            background-position-y: -5rem;
                        }
                    }
                }
            }
        }

        &-referee {
            padding-top: $padding;

            @include breakpoint(medium) {
                padding-top: 0;
            }

            #ref-icon {
                position: relative;
                top: 2px;
                left: -3px;
                width: 14px;
            }
        }

        &-report {
            padding: $padding $padding 0 $padding;

            @include breakpoint(wordpress) {
                padding: 1em 1em 0 1em;
            }
        }

        &-score {
            @include flex-center;
            @include typekit-industry;
            @include absolute-center;
            width: 250px;
            z-index: 1;

            &__home,
            &__away {
                @include score-block;
                margin: rem-calc(45px) 5px 5px;
            }

            &__fulltime,
            &__halftime {
                text-shadow: 1px 1px 5px $color__text-shadow;
            }

            &__halftime {
                font: {
                    size: $padding;
                    weight: 500;
                }
            }

            &__fulltime {
                &:last-child {
                    font-size: 5.5rem;
                }
            }
        }

        &-stats {
            &-start,
            &-subs {
                @include breakpoint(wordpress) {
                    @include full-width;
                }

                .dtr-inline.collapsed > tbody > tr[role='row'] {
                    > td,
                    > th {
                        &.dtr-control::before {
                            line-height: 13px !important;

                            @include breakpoint(large) {
                                line-height: 17px !important;
                            }
                        }
                    }
                }

                .name {
                    text-align: left;
                }
            }

            &-subs {
                padding-top: 0;
            }

            .t,
            .p,
            .c,
            .dg {
                text-align: center;
            }
        }

        &-team {
            padding-top: $padding;
        }

        @each $icon, $dir in $icons {
            &-#{$icon} {
                .icon {
                    width: 20px;
                    height: 13px;
                    display: inline-block;
                    padding: 0;
                    margin: {
                        bottom: -2px;
                        #{$dir}: 0;
                    }
                }
            }
        }

        &-video {
            margin-top: -1.5em;
            background: $color__black;
        }

        &-meta {
            display: flex;
            padding-top: 0;
            border: {
                top: $border;
                bottom: $border;
            }

            @include breakpoint(wordpress) {
                padding-top: $padding;
            }

            @each $dir in $direction {
                &-#{$dir} {
                    @include full-width;
                    font-size: 1em;
                    float: none;
                    text-align: center;

                    @include breakpoint(medium) {
                        width: 33.333%;
                        text-align: $dir;
                    }
                }
            }

            @include breakpoint(medium) {
                flex-direction: row;
            }

            &-mobile {
                display: flex;
                flex-direction: column;
                margin: auto;
                text-align: center;

                > :not(.wpcm-match-comp) {
                    padding-top: $padding;
                }

                .wpcm-match {
                    &-comp {
                        order: 1;
                    }

                    &-venue,
                    &-attendance {
                        order: 2;
                    }

                    &-referee {
                        order: 3;
                    }

                    &-team {
                        order: 4;
                    }

                    &-date-local {
                        order: 5;
                    }

                    &-date-website {
                        order: 6;
                    }
                }
            }
        }
    }

    &-entry {
        &-title,
        &-excerpt,
        &-meta,
        &-content {
            @include breakpoint(mobile down) {
                font-size: 80%;
            }
        }

        &-meta {
            @include flex-evenly;
            overflow: hidden;

            @include breakpoint(medium down) {
                margin-bottom: 0.75em;
            }
        }

        &-excerpt,
        &-content {
            font-family: $font__post-content;
        }

        &-title,
        &-excerpt {
            text-align: center;
        }

        &-title {
            margin: 0;
            font: {
                family: $font__post-title;
                size: 1.75em;
                weight: 900;
            }
            line-height: 1.3;

            @include breakpoint(medium) {
                font-size: $size__post-title;
            }
        }

        &-excerpt {
            margin: 0.25em 0 $padding;
            font: {
                size: 1em;
                weight: 800;
            }
            @include breakpoint(medium) {
                font-size: $size__post-excerpt;
            }
        }

        &-content {
            font-weight: 500;

            p {
                @include breakpoint(medium) {
                    text-align: justify;
                }
            }

            .featured,
            .supplementary {
                &-image {
                    position: relative;
                    line-height: 0.7;

                    &__description,
                    &__photographer {
                        line-height: 1.3;
                        @include breakpoint(mobile down) {
                            @include text(center);
                        }
                    }

                    &__description {
                        @include flex-between;
                        padding: 5px;
                        padding-left: 9px;
                        background: transparent-white(0.8);
                        @include absolute-bottom {
                            left: 0;
                        }
                        @include full-width;
                        font: {
                            size: 0.9em;
                            weight: 800;
                        }
                        text-shadow: 0 1px 0 transparent-white(0.72);

                        @include breakpoint(563px) {
                            font-size: 1em;
                        }

                        @include breakpoint(medium down) {
                            display: none;
                        }
                    }

                    &__photographer {
                        @include text(right);
                        @include breakpoint(medium down) {
                            &--inner {
                                display: none;
                            }
                        }
                        @include breakpoint(wordpress) {
                            &--outer {
                                display: none;
                            }
                        }
                    }

                    &.has-caption {
                        .featured,
                        .supplementary {
                            &-image {
                                &__photographer {
                                    &--inner {
                                        margin-left: ($border-space * 2);
                                        padding: ($border-space * 4) 0;
                                        padding-right: ($border-space * 2);
                                        border-left: 1px solid #555;

                                        &::before {
                                            content: '';
                                            position: relative;
                                            top: $border-space;
                                            border-left: 1px solid transparent-white(0.72);
                                            padding: ($border-space * 4) ($border-space * 2) ($border-space * 2);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-lineup,
    &-subs {
        &-table {
            .shirt-number {
                white-space: nowrap;
                min-width: rem-calc(88px);
                max-width: rem-calc(88px);
                text-align: center !important;
            }

            .stats {
                width: rem-calc(50px);
                @include text(center);
            }
        }
    }

    &-lineup-table {
        border-bottom: 0;
        margin-bottom: 0;
    }

    &-subs-table {
        border-top: 0;
    }

    &_match {
        // Attached to `.wpcm-match-video`.
        @include foundation-responsive-embed;

        .flex-video,
        .responsive-embed {
            margin-bottom: 0;
        }

        table {
            background: $color__text-inset;

            thead {
                background-color: $color__blue;
            }
        }
    }
}
