.wpcm {
    &_staff {
        .icon {
            height: 22px;
            float: left;
        }
    }

    &-player-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        float: none;

        @include breakpoint(wordpress) {
            flex-direction: row;
        }
    }

    &-profile {
        &-image,
        &-meta {
            width: 100%;
        }

        &-image {
            height: 320px;
            margin-bottom: 0;
            background: {
                position: center top;
                repeat: no-repeat;
                size: cover;
            }

            &[data-interchange*='dave-hewitt'] {
                background-position-y: 23%;
            }

            &[data-interchange*='duncan-hall'] {
                background-position-y: 50%;
            }

            &[data-interchange*='eddie-osullivan'] {
                background-position-y: 17%;
            }

            &[data-interchange*='jack-clark'] {
                background-position-y: 33%;

                @include breakpoint(medium down) {
                    background-size: contain;
                }

                @include breakpoint(wordpress) {
                    height: 310px;
                }
            }

            &[data-interchange*='jim-perkins'] {
                background-position-y: 40%;
            }

            &[data-interchange*='john-mitchell'] {
                background-position-y: 30%;
            }

            &[data-interchange*='ray-cornbill'] {
                background-position-y: 27%;
            }

            &[data-interchange*='george-hook'],
            &[data-interchange*='scott-johnson'] {
                background-position-y: 50%;
            }

            &[data-interchange*='tolkin'] {
                @include breakpoint(medium down) {
                    height: 533px;
                    background: {
                        position: center bottom;
                        size: contain;
                    }
                }
            }

            @include breakpoint(wordpress) {
                height: 298px;
                padding-right: 0.5rem;
            }
        }

        &-meta {
            margin-bottom: 0;

            table {
                margin-bottom: 0 !important;
            }

            @include breakpoint(wordpress) {
                padding-left: 0.5rem;
            }

            .entry-title {
                margin: {
                    top: 0.25em;
                    bottom: 0.4em;
                }
                @extend .text-center;
                font: {
                    size: 2em;
                    weight: 900;
                }

                @include breakpoint(wordpress) {
                    text-align: left;
                }
            }

            th {
                background: $color__background-th;
                color: $color__white;
            }
        }

        &-bio {
            padding: 0 0.5em 0.5em;
            margin-bottom: 0;
            font-size: 80%;

            @include breakpoint(medium) {
                padding: 0 0.9375rem;
                font-size: 100%;
                text-align: justify;
            }
        }
    }
}
