@import 'flag-icon.min.css';

/** Global Styles */
#side-sortables #post_name {
    width: 100%;
}

.chosen-choices .search-choice {
    margin: 3px 5px 0 0 !important;
}
.chosen-choices .search-choice:last-child {
    margin-right: 0 !important;
}

.help_tip {
    cursor: help;
}

.blue {
    color: #007aff;
}

.green {
    color: #00aa09;
}

/** Unions & Clubs */
.post-type-wpcm_club .widefat td.abbr,
.post-type-wpcm_club .widefat td.venue {
    vertical-align: middle;
}

/** Players & Staff */
.post-type-wpcm_staff #the-list tr:last-child td.image,
.post-type-wpcm_player #the-list tr:last-child td.image {
    border-bottom: 6px solid transparent !important;
}

.post-type-wpcm_player td.column-number {
    text-align: left !important;
}

.post-type-wpcm_staff #image,
.post-type-wpcm_player #image,
.post-type-wpcm_staff td.column-image,
.post-type-wpcm_player td.column-image {
    width: 40px !important;
}

.post-type-wpcm_staff .column-flag,
.post-type-wpcm_staff .column-jobs {
    vertical-align: middle;
}

.post-type-wpcm_staff td.column-image,
.post-type-wpcm_player td.column-image {
    position: relative;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 72px;
    border: 6px solid #fff;
}

.post-type-wpcm_staff td.column-image img,
.post-type-wpcm_player td.column-image img {
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 0;
}

.post-type-wpcm_staff #the-list td.column-image img,
.post-type-wpcm_player #the-list td.column-image img {
    top: 50%;
    transform: translateY(-50%);
}

.post-type-wpcm_staff #email,
.post-type-wpcm_staff #jobs,
.post-type-wpcm_player #age,
.post-type-wpcm_player #birthday,
.post-type-wpcm_player #number,
.post-type-wpcm_player #position {
    width: 100%;
}

.post-type-wpcm_player #debut,
.post-type-wpcm_player #last {
    width: 122px;
}

.post-type-wpcm_player .chosen-container .chosen-choices li.search-choice {
    margin: 0;
}

.post-type-wpcm_player .inline-edit-row .player_fields .player-name:not(:first-child) span.input-text-wrap {
    margin-left: 0;
}


/** Matches, Rosters */
.wp-list-table.fixed .column-team {
    width: 115px;
}
.wp-list-table.fixed .column-friendly {
    width: 67px;
}
.wp-list-table.fixed .column-season {
    width: 55px;
}
.wp-list-table.fixed .column-score {
    width: 63px;
}
.wp-list-table.fixed .column-friendly,
.wp-list-table.fixed .column-season {
    text-align: center;
}

.wp-list-table.fixed .column-dates {
    width: 100px;
}
.wp-list-table.fixed .column-kickoff {
    width: 14%;
    min-width: 154px;
}

.post-type-wpcm_match #the-list .inline-edit-col-left.world-rugby {
    width: 20%;
}

.post-type-wpcm_match span.red {
    color: #f00;
}

.post-type-wpcm_match #post_name {
    width: 100%;
}

.post-type-wpcm_match label.wpcm-cb-block.friendly {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.post-type-wpcm_match span[aria-describedby]:hover {
    cursor: help !important;
}

.post-type-wpcm_match .website-timezone {
    margin-left: 1px;
    padding-left: 0.5rem;
}

.post-type-wpcm_match #_usar_match_timezone_chosen {
    margin-top: -1px;
    margin-left: 1px;
}

.post-type-wpcm_match .rdb_chosen_select + .chosen-container-active {
    font-size: 12px;
}

.post-type-wpcm_match input.referee {
    width: 37% !important;
}

.post-type-wpcm_match #the-list #wpcm_referee_country {
    float: right !important;
    margin-top: 1px;
    width:  61%;
}

.post-type-wpcm_match #post #wpcm_referee_country_chosen {
    margin-top: -1px;
}

.post-type-wpcm_match #wpclubmanager-fields.inline-edit-col .neutral {
    margin-top: 3px;
    margin-left: 10px;
}


/** WPCM Taxonomies */
[class*="taxonomy-wpcm_"]:not(.taxonomy-wpcm_venue) .wp-list-table .column-name {
    width: 75%;
}

[class*="taxonomy-wpcm_"] .widefat .column-matches,
[class*="taxonomy-wpcm_"] .widefat .column-players,
[class*="taxonomy-wpcm_"] .widefat .column-hosted,
[class*="taxonomy-wpcm_"] .widefat .column-capacity,
[class*="taxonomy-wpcm_"] .widefat .column-ID {
    text-align: center;
}

[class*="taxonomy-wpcm_"] .column-matches,
[class*="taxonomy-wpcm_"] .column-label,
[class*="taxonomy-wpcm_"] .column-players,
[class*="taxonomy-wpcm_"] .column-hosted,
[class*="taxonomy-wpcm_"] .column-ID {
    width: 58px;
}

[class*="taxonomy-wpcm_"] [id='term_meta[usar_timezone]'] {
    width: 100%;
}

.taxonomy-wpcm_comp .column-label {
    width: 80px;
}

.taxonomy-wpcm_venue #col-container .chosen-container {
    background: transparent;
}
.taxonomy-wpcm_venue #col-container .chosen-container-single .chosen-single {
    max-width: 33.22rem !important;
}
.taxonomy-wpcm_venue #term_meta_usar_timezone__chosen .chosen-single,
.taxonomy-wpcm_venue #term_meta_usar_timezone__chosen .chosen-drop {
    max-width: inherit !important;
}
.taxonomy-wpcm_venue .wr-former-names {
    width: 100% !important;
}

[class*="taxonomy-wpcm_"] .column-capacity {
    width: 90px !important;
}
[class*="taxonomy-wpcm_"] .column-hosted {
    width: 80px !important;
}
[class*="taxonomy-wpcm_"] .column-timezone {
    width: 10rem !important;
}

/** jQuery TipTip */
/* Tiptip styles */
.tips {
    cursor:help;
    text-decoration:none
}
img.tips {
    padding:5px 0 0
}
#tiptip_holder {
    display:none;
    position:absolute;
    top:0;
    left:0;
    z-index:99999
}
#tiptip_holder.tip_top {
    padding-bottom:5px
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
    margin-top:-7px;
    margin-left:-6px;
    border-top-color:#464646
}
#tiptip_holder.tip_bottom {
    padding-top:5px
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
    margin-top:-5px;
    margin-left:-6px;
    border-bottom-color:#464646
}
#tiptip_holder.tip_right {
    padding-left:5px
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
    margin-top:-6px;
    margin-left:-5px;
    border-right-color:#464646
}
#tiptip_holder.tip_left {
    padding-right:5px
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
    margin-top:-6px;
    margin-left:-7px;
    border-left-color:#464646
}
#tiptip_content,.chart-tooltip,.wpcm_error_tip {
    font-size:11px;
    color:#fff;
    padding:.5em;
    background:#464646;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:1px 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow:1px 1px 3px rgba(0,0,0,.1);
    box-shadow:1px 1px 3px rgba(0,0,0,.1);
    text-align:center
}
#tiptip_content code,.chart-tooltip code,.wpcm_error_tip code {
    background:#888;
    padding:1px
}
#tiptip_arrow,#tiptip_arrow_inner {
    position:absolute;
    border-color:transparent;
    border-style:solid;
    border-width:6px;
    height:0;
    width:0
}
.wpcm_error_tip {
    background:#d82223;
    max-width:20em;
    white-space:normal;
    position:absolute;
    margin:1.5em 1px 0 -1em;
    z-index:9999999
}
.wpcm_error_tip:after {
    content:"";
    display:block;
    border:8px solid #d82223;
    border-right-color:transparent;
    border-left-color:transparent;
    border-top-color:transparent;
    position:absolute;
    top:-3px;
    left:50%;
    margin:-1em 0 0 -3px
}
