.invisible {
  visibility: hidden;
}

.hide {
  display: none;
}

.hide-for-mobile {
  @include breakpoint(medium down) {
    display: none !important;
  }
}

.show-for-mobile {
  @include breakpoint(wordpress) {
    display: none !important;
  }
}

.hide-for-medium {
  @include breakpoint(medium) {
    display: none !important;
  }
}

.show-for-medium {
  @include breakpoint(mobile down) {
    display: none !important;
  }
}

.hide-for-large {
  @include breakpoint(large) {
    display: none !important;
  }
}

.show-for-large {
  @include breakpoint(wordpress down) {
    display: none !important;
  }
}
