// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Flex Video
@mixin flex-video {

	.flex-video {
		position: relative;
		height: 0;
		overflow: hidden;
		padding-top: 1.3889rem;

		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

		&.widescreen {

			iframe {
				padding-bottom: 57.25%;
			}
		}
	}
}

// Level 2 List
@mixin level-two-list {

	ul {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		position: absolute;
		top: 100%;
		left: -999em;
		z-index: 99999;

		li {

			ul {
				left: -999em;
				top: 0;
			}

			&:hover,
			&.focus {

				> ul {
					display: block;
					left: auto;
				}
			}
		}
	}
}
