@import '../../abstracts/abstracts';

$card-pages: opponents staff venues;
$card-types: unquote("[class$='-side']") venue;
$card-background: #ececec;
$card-container-width: 90%;
$card-margin: 0.75%;
$card-size: 250px;

$image-height: rem-calc(190px);
$meta-height: rem-calc(30px);
$unit: rem-calc(15px);

#primary {
    padding-top: rem-calc(8px);

    .page-players & {
        padding-top: 0;
    }
}

#grid {
    padding: 0;

    @include breakpoint(xxlarge) {
        padding: $unit;
    }
}

#scroll-status {
    @include absolute-center;
}

.card {
    margin: $card-margin 0;
    width: 100%;
    max-height: $card-size;
    filter: drop-shadow(0 1.5px 0 #fff);

    @include breakpoint(568px) {
        width: 50%;
    }

    @include breakpoint(medium) {
        width: 33.3333%;
    }

    @include breakpoint(large) {
        width: 25%;
    }

    @include breakpoint(xlarge) {
        width: 20%;
    }

    &__container {
        position: relative;
        width: $card-container-width;
        height: inherit;
        margin: auto;
        background-color: $card-background;

        &__background {
            position: absolute;
            @include full;
            overflow: hidden;

            span {
                @include absolute-center;
                width: 100%;
                height: 100%;
                background: {
                    position: center;
                    repeat: no-repeat;
                    size: cover;
                }
                filter: blur(25px);
                z-index: 0;
            }
        }

        &__title {
            @include absolute-bottom;
            padding: 0.25rem 0;
            @include full-width;
            background-color: $color__background-header;
            @include text(center);

            @each $card-type in $card-types {
                @if venue == $card-type {
                    font-size: 0.7em;
                }
            }

            z-index: 2;
        }
    }

    &__image,
    &__meta {
        @include full-width;
    }

    &__image {
        @include relative;
        display: block;
        height: $image-height;
        background: {
            repeat: no-repeat;
            position: center 10%;
            size: cover;
        }
        z-index: 1;

        &[style*='placeholder.png'] {
            background-size: cover;
        }
    }

    &__meta {
        height: $meta-height;
        @include text(center);
    }

    &__spacer {
        padding: 10px 10px 15px;
        height: rem-calc(235px);

        [data-order*='Thailand'] & {
            background-color: #000334;
        }

        [data-order*='Association'] &,
        [data-order*='Bond'] &,
        [data-order*='Confed'] &,
        [data-order*='Fed'] &,
        [data-order*='Féd'] &,
        [data-order*='Union'] &,
        [data-order*='Unión'] &,
        [data-order*='Verband'] & {
            background-color: #bcbcbc;
        }
    }

    &__title {
        margin: 0;
        color: $white;
    }

    &.staff {
        .card {
            &__image {
                background-size: cover;
            }
        }

        [title='Dennis Storer'] {
            .card__image {
                background-position-y: rem-calc(-17px);
            }
        }

        [title="Eddie O'Sullivan"] {
            .card__image {
                background-position-y: 0;
            }
        }

        [title='Mike Friday'] {
            .card__image {
                background-position-y: -$unit;
            }
        }

        [title='Tom Billups'] {
            .card__image {
                background-position-y: 0;
            }
        }
    }
}
