@import '../../abstracts/abstracts';

$card-background: #efefef;
$card-container-width: 90%;
$card-margin: 0.75%;
$card-size: 250px;

$image-height: rem-calc(190px);
$meta-height: rem-calc(30px);
$unit: rem-calc(15px);

#primary {
    padding-top: rem-calc(8px);
}

#grid {
    padding: 0;

    @include breakpoint(xxlarge) {
        padding: $unit;
    }
}

#scroll-status {
    @include absolute-center;
}

.card {
    margin: $card-margin 0;
    width: 100%;
    max-height: $card-size;
    filter: drop-shadow(0 1.5px 0 #fff);

    @include breakpoint(568px) {
        width: 50%;
    }

    @include breakpoint(medium) {
        width: 33.3333%;
    }

    @include breakpoint(large) {
        width: 25%;
    }

    @include breakpoint(xlarge) {
        width: 20%;
    }

    @include breakpoint(xxlarge) {
        width: $card-size;
    }

    &__container {
        position: relative;
        width: $card-container-width;
        height: inherit;
        margin: auto;
        background-color: $card-background;
    }

    &__image,
    &__meta {
        @include full-width;
    }

    &__image {
        display: block;
        height: $image-height;
        background: {
            repeat: no-repeat;
            size: contain;
            position: center center;
        }
    }

    &__meta {
        height: $meta-height;
        @include text(center);
    }

    &__title {
        margin: 0;
        color: $white;
    }

    &.staff {
        .card {
            &__container {
                &__title {
                    @include absolute-bottom;
                    padding: 0.25rem 0;
                    @include full-width;
                    background-color: $color__background-header;
                    @include text(center);
                }
            }

            &__image {
                background-size: cover;
            }
        }

        [title='Dennis Storer'] {
            .card__image {
                background-position-y: rem-calc(-17px);
            }
        }

        [title="Eddie O'Sullivan"] {
            .card__image {
                background-position-y: 0;
            }
        }

        [title='Mike Friday'] {
            .card__image {
                background-position-y: -$unit;
            }
        }

        [title='Tom Billups'] {
            .card__image {
                background-position-y: 0;
            }
        }
    }
}
