.dataTable {
    &s {
        &_wrapper,
        &_paginate {
            @include breakpoint(767px down) {
                margin-top: 0 !important;
            }
        }

        &_wrapper {
            .flex {
                align-items: center;

                @include breakpoint(wordpress down) {
                    flex-direction: column;
                }
            }
        }

        &_empty {
            vertical-align: middle;

            img {
                height: 1rem;
            }
        }

        &_filter,
        &_paginate {
            font-size: 72.5%;

            @include breakpoint(medium) {
                font-size: 90%;
            }

            @include breakpoint(large) {
                width: 50%;
                font-size: 91%;
            }
        }

        &_filter {
            @include text(center);

            label {
                @include full-width;
            }

            input {
                margin: 0 !important;
                width: calc(100% - 12px);
                transition: background 0.25s linear;

                &:hover {
                    background: rgba($color__white, 50%);
                    transition: background 0.25s linear;
                }

                &:active,
                &:focus {
                    background: $color__white;
                }

                &:focus,
                &:focus-visible {
                    outline: none !important;
                }

                &:-moz-focus-inner {
                    border: 0;
                }
            }
        }

        &_paginate {
            float: none !important;
            margin-top: 0;
            padding-bottom: 0.25em;
            @include text(center);
        }
    }
}

table.dataTable {
    .control {
        &::before {
            line-height: 0.845 !important;
        }
    }

    th,
    td {
        white-space: nowrap !important;

        &:not(.control) {
            width: 50% !important;

            @include breakpoint(medium) {
                width: 33.3333% !important;
            }

            @include breakpoint(large) {
                width: 25% !important;
            }
        }
    }
    /* stylelint-disable */
    tbody {
        tr {
            &.even {
                background-color: $color__table-border;
            }

            &.child ul.dtr-details > li {
                padding-top: 0.5em !important;
            }
        }

        th,
        td {
            padding: {
                top: 0 !important;
                bottom: 0 !important;
            }
            font-size: 87.5%;
        }

        td:not(.control) {
            .inline-cell {
                @include relative {
                    width: 33%;
                    height: rem-calc(36px);
                }

                .icon,
                .result {
                    @include absolute-center;
                }
            }
        }
    }
    /* stylelint-enable */
    .fixture-result {
        flex-direction: row !important;
        justify-content: space-between;

        @include breakpoint(medium) {
            justify-content: space-evenly;
        }
    }

    &.no-footer {
        .dataTables_empty {
            img {
                margin-bottom: 7px;
            }
        }
    }
}
