.match-filters {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include breakpoint(small only) {
    font-size: 75% !important;
  }

  @include breakpoint(medium) {
    font-size: 90% !important;
  }

  @include breakpoint(medium) {
    padding: 0.5%;
  }

  .yadcf-filter-wrapper {
    position: relative;
    margin-left: 0;
    @include full-width;

    select {
      @include full-width;
    }
  }

  #season,
  #opponent,
  #competition,
  #venue {
    @include half-width;
    @include breakpoint(medium) {
      @include dropdown-spacing;
    }
  }
}
