.wpcm-matches-list {
  &-item {
    &.odd {
      background-color: $color__background-screen !important;
    }
  }

  &-link {
    @include flex-evenly;
    outline: 0;
    table-layout: fixed;
    text-decoration: none;
    width: 100%;
    /* stylelint-disable */
    $win: #269e0b;
    $loss: #9e0b2a;
    $draw: #808080;

    .win & {
      color: $win;
      &:hover {
        color: darken($win, 15);
      }
    }

    .loss & {
      color: $loss;
      &:hover {
        color: darken($loss, 15);
      }
    }

    .draw & {
      color: $draw;
    }
    /* stylelint-enable */
  }

  &-club1,
  &-club2 {
    text-overflow: ellipsis;
  }

  &-club1 {
    text-align: right;
  }

  &-club2 {
    text-align: left;
  }
}

td.wpcm-matches-list {
  &-col {
    display: table-cell;
    width: 6.75em;
    font-size: 0.55em;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    @include breakpoint(wordpress) {
      font-size: 0.6em;
    }

    @include breakpoint(980px) {
      font-size: 0.7em;
    }

    @include breakpoint(xlarge) {
      font-size: 0.75em;
    }
  }

  &-date {
    text-align: left;
  }

  &-info {
    text-align: right;
  }

  &-fixture {
    span {
      @include nowrap;
      width: 33.3333%;

      @include breakpoint(wordpress) {
        &:first-child,
        &:last-child {
          width: 43.333%;
        }

        &:nth-child(2) {
          width: 23.333%;
        }
      }
    }
  }
}
