/// Heading and copied items.
@import 'headings';
@import 'copy';

body,
button,
input,
select,
optgroup,
textarea {
  color: $color-text-main;
  font-family: $font-main;
  font-size: $size-site-main;
  line-height: $font-line-height-body;
}

/// Quotes.
blockquote {
  cite {
    display: inherit;
    @include text(right);
  }
}
