$palette: map-get(map-get(map-get($theme, 'settings'), 'color'), 'palette');

$color-blue: map-get(nth($palette, 3), 'color');
$color-red: map-get(nth($palette, 1), 'color');
$color-black: map-get(nth($palette, 5), 'color');
$color-white: map-get(nth($palette, 2), 'color');

$color-background-body: $color-blue;
$color-background-header: rgba(16, 33, 63, 0.85);
$color-background-combo: #102342;
$color-background-main: #efefef;
$color-background-screen: $color-background-main;
$color-background-hr: #e0e0e0;
$color-background-button: #e6e6e6;
$color-background-pre: #eee;
$color-background-ins: #fff9c0;
$color-background-th: $color-blue;

$color-border-button: #ccc #ccc #bbb;
$color-border-button-hover: #ccc #bbb #aaa;
$color-border-button-focus: #aaa #bbb #bbb;
$color-border-header: rgba(255, 255, 255, 0.4);
$color-border-input: #ccc;
$color-border-abbr: #777;

$color-link: $color-red;
$color-link-visited: $color-link;
$color-link-hover: $color-blue;

$color-logo-blue: #06355e;
$color-logo-red: $color-link;
$color-logo-text: $color-background-main;

$color-table-background: #fefefe;
$color-table-border: $color-background-screen;
$color-table-font: #0a0a0a;
$color-thead-hover: #f3f3f3;
$color-tbody: #f8f8f8;
$color-tbody-hover: #f9f9f9;
$color-tfoot-hover: #ececec;

$color-text-main: #404040;
$color-text-screen: #21759b;
$color-text-input: #555;
$color-text-input-focus: #111;
$color-text-inset: $color-white;
$color-text-shadow: $color-black;
