// Foundation breakpoints.
$breakpoints: (
    small: 0,
    mobile: 480px,
    medium: 640px,
    wordpress: 783px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
) !default;

// Foundation globals.
$global-left: left;

// Underscores.me defaults.
$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__logo-width: 346px;
$size__adminbar: 32px;
$size__icon-height: 22px;
$size__navbar-height: 46px;
$size__navbar-height--desktop: 75px;

// Content column.
$size__site-main-width: rem-calc(1280px);

// Font.
$size__post-title: 2em;
$size__post-excerpt: 1.2em;

// File paths.
$file__img: '../img/';

// Sitewide.
$hover-duration-timing: 0.15s ease-in-out;
$hover-transition: background $hover-duration-timing, color $hover-duration-timing;
$logo-bottom: 5px;
$logo-width: 4.7em;
$logo-height: 1em;
$menu-item-width: 89px;
$text-stroke: 1.5px #fff;
$nav-transition: 0.4s linear;
$nav-ease: 0.4s ease;
