// These styles are applied to a <meta> tag, which is read by the Foundation JavaScript
.foundation-mq {
  font-family: '#{-zf-bp-serialize($breakpoints)}';
}

body {
  background: $color__background-body;
  min-height: rem-calc(400px);

  &.logged-in {
    @include breakpoint(wordpress) {
      .mm-navbars_top { // stylelint-disable-line
        margin-top: $size__adminbar;
      }
    }
  }

  .tax-wpcm_venue { // stylelint-disable-line
    display: flex;
    flex-direction: column;

    #page {
      flex: 1;
    }
  }
}

.rdb {
  &-equalizer {
    overflow: hidden;
  }
}
