// These styles are applied to a <meta> tag, which is read by the Foundation JavaScript
.foundation-mq {
    font-family: '#{-zf-bp-serialize($breakpoints)}';
}

body {
    background: $color__background-body;
    min-height: rem-calc(400px);
}
