a {
  color: $color-link;

  text-decoration: none;
  text-decoration-skip-ink: auto;

  &:visited {
    color: $color-link-visited;
  }

  .current-menu-item &,
  &:hover,
  &:focus,
  &:active {
    color: $color-link-hover;
  }

  &:focus {
    outline: 0;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
