a {
    color: $color__link;

    text-decoration: none;
    text-decoration-skip-ink: auto;

    &:visited {
        color: $color__link-visited;
    }

    .current-menu-item &,
    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
    }

    &:focus {
        outline: 0;
    }

    &:hover,
    &:active {
        outline: 0;
    }
}
